<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand link" href="#header">Jesse Hammond</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="link" href="#bio">Bio</a></li>
      <li><a class="link" href="#gallery">My Work</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.instagram.com/jesse.hammond/" target="blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/hammondjesse/" target="blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/jt-hammond" target="blank"><i class="fab fa-github-square"></i></a></li>
    </ul>
  </div>
</nav>

<div id="header" class="full-page">
  <h1>J</h1>
  <img src="../images/polyface.png" alt="Picture of Jesse" width="400px" height="600px">
  <h1>H</h1>
 <!--  <a href="#gallery" id="mywork">My <br>Work</a> -->
</div>

<div id="bio" class="full-page ">
  <div id="explanative" class="fade">
    <h2 class="">Hey I'm Jesse Hammond, </h2>
    <h2 class="">I design clean, simple, and  beautiful webpages</h2>
    <h2 class="">to clearly convey your digital message.</h2>
    <h2 class=""> <br> <br><br>I am available for freelancing and web design. </h2>
    <div>
      <a  class="mailto" id="mailto" href="mailto:jessethammond@gmail.com?Subject=Freelancing" target="_top"><i class="fas fa-envelope"></i>
  Message Me</a>
    </div>
  </div>

  <div id="icons" class="fade">
    <ul class="prog-icons ">
      <!-- Add circulating list later -->
      <i class="devicon-css3-plain-wordmark "></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-github-plain-wordmark "></i>
      <i class="devicon-html5-plain-wordmark"></i>
    </ul>

    <ul class="prog-icons">
      <i class="devicon-heroku-original-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-jquery-plain-wordmark "></i>
      <i class="devicon-linux-plain "></i>
    </ul>

    <ul class="prog-icons">
      <i class="devicon-nodejs-plain"></i>
      <i class="devicon-postgresql-plain-wordmark "></i>
      <i class="devicon-rails-plain-wordmark"></i>
      <i class="devicon-ruby-plain-wordmark "></i>
    </ul>
  </div>
</div>

<div id="gallery" class="full-page">
  <div class="container ">
    <h2 class="fade"></h2>
    <div class="portfolio fade">
      <div class="portfolio-piece">
        <a href="https://www.skhammondart.com"  target="_blank">
          <img src="../images/skhammondart.jpg" height="200px" alt="" class="center">
          <h3>S. K. Hammond Art</h3>
          <p>A portfolio site for a LowerTown St. Paul Artist</p>
        </a>
      </div>
      <div class="portfolio-piece">
         <a href="https://www.sproutmtl.ca" target="_blank">
          <img src="../images/sprout.jpg" height="200px" alt="" class="center">
          <h3>Sprout MTL</h3>
          <p>A Montreal E-Commerce site for plants</p>
        </a>
      </div>
    </div>
  </div>
</div>
